+section-title({sub: 'Discover', main: 'our story'})

.background(style="background: grey")
  +section-title({sub: 'Discover', main: 'our story'}).in-white.sub-in-white
  +section-title({sub: 'Discover', main: 'our story'}).in-white.main-in-white
  +section-title({sub: 'Discover', main: 'our story', desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry.'}).in-white.desc-in-white