footer
  .footer-cover(style="background-image: url(assets/images/bg-footer.jpg)")
    .container
      .row
        .col-md-4
          .footer-intro
            .desc.hidden-xs.hidden-sm
              p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            +link('splatter','./').logo
              span.splatter-ico.splatter-ico-logo
        .col-md-4
          .footer-info(data-accordion)
            .info-item(data-item)
              h3.title(data-title) Address
                span.fa.fa-plus-circle
              .info(data-panel)
                p.location London center
                p.restaurant-name Splatter Restaurant
                p.address 22nd Sunrise street, Splatter Club Avenue, London, UK
            .info-item(data-item)
              h3.title(data-title) Opening Hours
                span.fa.fa-plus-circle
              .info(data-panel)
                p Mon - Fri: 08:00am - 10:00pm
                p Sat - Sun: 10:00am - 11:00pm
            .info-item(data-item)
              h3.title(data-title) Contact
                span.fa.fa-plus-circle
              .info(data-panel)
                p
                  +link('+00 42 123 456789','tel:+0042123456789')
                p
                  +link('info@splatter.com','mailto:info@splatter.com')
        .col-md-4
          .subscription
            h3.title Newsletter
            +form({})
              +inputElement({
                type: 'email',
                value: 'Your email address'
              })
          .social-label Follow us
          +list-social([
              {title: 'facebook', href: '#', class: 'facebook', iconClass: 'fa fa-facebook'},
              {title: 'instagram', href: '#', class: 'instagram', iconClass: 'fa fa-instagram'},
              {title: 'twitter', href: '#', class: 'twitter', iconClass: 'fa fa-twitter'},
              {title: 'pinterest', href: '#', class: 'pinterest', iconClass: 'fa fa-pinterest'}
            ])
