header(data-header)
  .header-mennu(data-menu)
    .container
      .row.row-equal-height
        .col-md-3
          .top-header(data-top)
            .collapse-control.visible-xs.visible-sm
              button.btn-collapse(type='button', data-nav-toggle='#myNavbar')
                span.line
                span.line
                span.line
            +link('splatter','./').logo.logo-img
              span.splatter-ico.splatter-ico-logo
        .col-md-9
          .main-header#myNavbar
            .row
              .col-xs-12.col-md-9
                .main-menu
                  +nav([
                    {title: 'Home', href: 'home.html'},
                    {title: 'Menu', href: 'menu.html'},
                    {title: 'Pages', href: 'javascipt: void(0)', class: 'menu-item-has-children fa fa-angle-down', itemsMenu: [{title: ' Gallery', href: '#'}, {title: 'About us', href: '#'}, {title:'Reservation', href: '#'}]},
                    {title: 'Blog', href: 'javascipt: void(0)', class: 'menu-item-has-children fa fa-angle-down', itemsMenu: [{title: ' News', href: 'our-product.html'}, {title: 'Single Page', href: 'detail-article.html'}]},
                    {title: 'Contact', href: 'contact-us.html'},
                  ]).menu
              .col-xs-12.col-md-3
                +list-social([
                  {title: 'facebook', href: '#', class: 'facebook', iconClass: 'fa fa-facebook'},
                  {title: 'instagram', href: '#', class: 'instagram', iconClass: 'fa fa-instagram'},
                  {title: 'twitter', href: '#', class: 'twitter', iconClass: 'fa fa-twitter'},
                  {title: 'pinterest', href: '#', class: 'pinterest', iconClass: 'fa fa-pinterest'}
                ])