mixin banner-section(obj)
  .banner-section(style="background-image:url('" +obj.url+"');")&attributes(attributes)
    .container
      if obj.info
        .banner-info
          +section-title(obj.info)(class=obj.optionTitle)
          if obj.btn
            +button({text: obj.btn.btnText, href: obj.btn.href}).button-white