mixin button(obj)
  if obj.url
    +link(obj.text, obj.url).button&attributes(attributes)
      span!=obj.text
  else
    button(title=obj.text, type="button")&attributes(attributes).button
      span!=obj.text