mixin form(obj)
  form(action=obj.url||'#', method=obj.method || 'post')&attributes(attributes)
    if block
      block
mixin inputElement(obj)
  .form-group
    if obj.label
      label(for=obj.id)!=obj.label
    .inputElement&attributes(attributes)
      input.form-control(type=obj.type||"text", id=obj.id||obj.name, name=obj.name, placeholder= obj.value)
mixin areaElement(obj)
  .form-group
    if obj.label
      label(for=obj.id)!=obj.label
    textarea.form-control(id=obj.id||obj.name, rows=obj.row, placeholder= obj.value)&attributes(attributes)

