mixin nav(items)
  ul&attributes(attributes)
    each item, key in items
      - var active = ''
      - if (key === menuIndex) active = 'active'
      li(class=active, class=item.class).menu-item
        +link(item.title, item.href, item.text)
        if (typeof(item.itemsMenu) !== 'undefined')
          +nav(item.itemsMenu)(data-sub-menu).sub-menu

mixin list-social(items)
  ul.list-social
    each item, key in items
      li(class=item.class)
        +link(item.title, item.href, item.text)
          span.fa(class=item.iconClass)
