mixin section(obj)
  .section&attributes(attributes)
    if obj.fixedWidth
      .container
        if block
          block
    if obj.fluidWidth
      .container-fluid
        if block
          block
    if obj.fullWidth
      if block
        block
