mixin section-title(obj)
  .section-title&attributes(attributes)
    h2.title
      if obj.sub
        span.sub-title!=obj.sub
      if obj.main
        span.main-title!=obj.main
    if obj.desc
      .desc
        p!=obj.desc