.artical
  .artical-thumb
    +img()
  .artical-detail
    h1.title Lorem Ipsum
    p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s