.banner-section.banner-full-screen(style='background-image:url(assets/images/bg-banner-home-3.jpg)', data-item).banner-home.animate
  .container
    .banner-info
      .sub-title Wellcome to
      .title
        +img('Title','assets/images/home-banner-text.png')
    .slogan Making people happy through food