+banner-section({
  url: 'assets/images/photo-banner-1.jpg',
  info: {sub: 'Discover', main: 'our story'},
  optionTitle: 'in-white main-in-white',
  btn: {
    btnText: 'View more'
  }
}).desc-in-right.banner-large
+banner-section({
  url: 'assets/images/bg-banner-home-2.jpg',
  info: {sub: 'Discover', main: 'our story'},
  optionTitle: 'in-white main-in-white',
  btn: {
    btnText: 'View more'
  }
}).desc-in-left.banner-medium