<!-- Start booking-table block -->
+section({fullWidth: true}).booking-table-section(style="background-image: url('assets/images/book-table.jpg')")
  .booking-table
    +section-title({
      sub: 'Reservation',
      main: 'Book your table'
    }).sub-in-white
    +form({}).form-booking
      .col-md-12
        +inputElement({
          type: 'text',
          value: 'Your name'
        }).with-icon.fa.fa-user
        +inputElement({
          type: 'email',
          value: 'Your email'
        }).with-icon.fa.fa-envelope
        +inputElement({
          type: 'text',
          value: '2018/01/11'
        }).with-icon.fa.fa-calendar
        +inputElement({
          type: 'text',
          value: '2:30'
        }).with-icon.fa.fa-clock-o
        +inputElement({
          type: 'number',
          value: '2 people'
        }).with-icon.fa.fa-users
      .form-group.text-center
        +button({text: 'Find a table'}).button-white
<!-- End booking-table block -->