<!-- Start booking-table block -->
+section({fixedWidth: true}).book-table-home
  +section-title({sub: 'Reservation', main: 'BOOK YOUR TABLE'})
  +form({}).book-form
    .row
      .col-md-6.col-md-offset-3
        +inputElement({
          type: 'text',
          value: 'Your name'
        }).with-icon.fa.fa-user
        +inputElement({
          type: 'email',
          value: 'Your email'
        }).with-icon.fa.fa-envelope
        +inputElement({
          type: 'text',
          value: '2018/01/11'
        }).with-icon.fa.fa-calendar
        +inputElement({
          type: 'text',
          value: '2:30'
        }).with-icon.fa.fa-clock-o
        +inputElement({
          type: 'number',
          value: '2 people'
        }).with-icon.fa.fa-users
      .col-md-12
        .form-group.text-center.form-btn
          +button({text: 'Find a table'}).button-white
  +img('Title','assets/images/bg_menu.png').background-reservation
<!-- End booking-table block -->
