<!-- Start contact-us block -->
+section({fixedWidth: true}).contact-us-section
  .row
    .col-md-4
      .contact-info
        +section-title({
          sub: 'How to find us'
        }).text-left
        .info-item
          h3.title Address
          .info(data-panel)
            p.location London center
            p.restaurant-name Splatter Restaurant
            p.address 22nd Sunrise street, Splatter Club Avenue, London, UK
        .info-item
          h3.title Opening Hours
          .info(data-panel)
            p Mon - Fri: 08:00am - 10:00pm
            p Sat - Sun: 10:00am - 11:00pm
        .info-item
          h3.title Contact
          .info(data-panel)
            p
              +link('+00 42 123 456789','tel:+0042123456789')
            p
              +link('info@splatter.com','mailto:info@splatter.com')
    .col-md-8
      +section-title({
        sub: 'Contact Us'
      }).text-center
      +form({}).form-contact-us
          +inputElement({
            type: 'text',
            value: 'Your Name'
          })
          +inputElement({
            type: 'text',
            value: 'Company'
          })
          +inputElement({
            type: 'text',
            value: 'Company'
          })
          +inputElement({
            type: 'email',
            value: 'Email'
          })
          +areaElement({
            row: 10,
            value: 'Message'
          })
          .btn-group.text-center
            +button({text: 'sent'})
