<!-- Start contact-us block -->
+section({fixedWidth: true}).contact-us-section
  .row
    .col-md-5
      +section-title({
        main: 'Contact Us'
      }).main-in-white.text-center
      +form({}).form-contact-us
          +inputElement({
            label: 'Name',
            type: 'text',
            value: 'Your Name'
          })
          +inputElement({
            label: 'Company',
            type: 'text',
            value: 'Company'
          })
          +inputElement({
            label: 'Tel',
            type: 'text',
            value: 'Company'
          })
          +inputElement({
            label: 'Email',
            type: 'email',
            value: 'Email'
          })
          +areaElement({
            row: 13,
            value: 'Message'
          })
          .btn-group.text-center
            +button({text: 'sent'}).button-opacity
<!-- Start contact-us block -->