.article-detail
  .container
    .article-title
      +section-title({sub: '"Japanese food at splatter restaurant"'}).in-white.main-in-white
      p.time 
        span.hour 19:30
        span.day 22/1/2018
    .article-desc
      p.desc-top It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      .desc-thumb
        +img('asian food', 'assets/images/food-3.jpg')
      p.desc-bot It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      p.desc-sign ADMIN
    .article-list
      +section-title({sub: 'Recommended Article'}).in-white.main-in-white
      .col-md-4.col-sm-6
        .article-item
          .list-thumb
            +img('sushi', 'assets/images/food-5.jpg')
          .list-text
            +link('Japanese Food', '#').title "Japanese food"
            p.desc
              span.hour 19:30
              span.day 22/1/2018
      .col-md-4.col-sm-6
        .article-item
          .list-thumb
            +img('sushi', 'assets/images/food-5.jpg')
          .list-text
            +link('Japanese Food', '#').title "Japanese food"
            p.desc
              span.hour 19:30
              span.day 22/1/2018
      .col-md-4.col-sm-6
        .article-item
          .list-thumb
            +img('sushi', 'assets/images/food-5.jpg')
          .list-text
            +link('Japanese Food', '#').title "Japanese food"
            p.desc
              span.hour 19:30
              span.day 22/1/2018