+section({fixedWidth: true}).gallery(style='background-image:url(assets/images/bg-banner-home-3.jpg)')
	+section-title({sub: 'Booking a table online is easy', main: 'Gallery'}).in-white.main-in-white
	.gallery-block(data-gallery-slider )
			.container-fluid
				.col-md-10.col-md-offset-1
					.gallery-title-block#slider-title(data-slider-nav, data-nav-id="#slider-content")
						.slider-title
							h3.title Sushi
						.slider-title
							h3.title Hot Pot
						.slider-title
							h3.title Vegetable
						.slider-title
							h3.title Euro Food
						.slider-title
							h3.title Asia Food
					.gallery-wrapper
						.gallery-content-block#slider-content(data-slider-primary, data-pri-nav-id="#slider-title")
							.gallery-item
								.thumb-primary
									+img('food', '../assets/images/food-6.jpg')
									h3.food-title Chicken
							.gallery-item
								.thumb-primary
									+img('food', '../assets/images/food-6.jpg')
									h3.food-title Chicken
							.gallery-item
								.thumb-primary
									+img('food', '../assets/images/food-6.jpg')
									h3.food-title Chicken
							.gallery-item
								.thumb-primary
									+img('food', '../assets/images/food-6.jpg')
									h3.food-title Chicken
							.gallery-item
								.thumb-primary
									+img('food', '../assets/images/food-6.jpg')
									h3.food-title Chicken
						.gallery-detail
							+section-title({
								sub: 'Discover More Our Excitement?'
							}).text-center.title-detail
								+button({text: 'about us', href: '#'})
							.col-sm-4
								.item
									.text-thumb
										+img('food', '../assets/images/food-6.jpg')
									.text-wrap
										h3.text-title Chicken
										+button({text: 'about us', href: '#'})
							.col-sm-4
								.item
									.text-thumb
										+img('food', '../assets/images/food-6.jpg')
									.text-wrap
										h3.text-title Chicken
										+button({text: 'about us', href: '#'})
							.col-sm-4
								.item
									.text-thumb
										+img('food', '../assets/images/food-6.jpg')
									.text-wrap
										h3.text-title Chicken
										+button({text: 'about us', href: '#'})
