<!-- Start genuine block -->
+section({fixedWidth: true}).our-genuine-section
  +section-title({
    sub: 'Reservation',
    main: 'Book your table',
    desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. '
  }).text-center
  .our-genuine
    .row
      .col-md-3
        .genuine-item
          .genuine-thumb
            +img('asia-food', '../assets/images/img-genuine-1.jpg')
          .genuine-info
            h3.title Chinese food
      .col-md-3
        .genuine-item
          .genuine-thumb
            +img('asia-food', '../assets/images/img-genuine-2.jpg')
          .genuine-info
            h3.title Chinese food
      .col-md-3
        .genuine-item
          .genuine-thumb
            +img('asia-food', '../assets/images/img-genuine-3.jpg')
          .genuine-info
            h3.title Chinese food
      .col-md-3
        .genuine-item
          .genuine-thumb
            +img('asia-food', '../assets/images/img-genuine-4.jpg')
          .genuine-info
            h3.title Chinese food
<!-- End genuine block -->