+section({fixedWidth: true}).location-section(style='background-image: url(assets/images/bg-location.jpg)')
  +section-title({sub: 'Visit us', main: 'Our location'}).in-white.main-in-white
  .location-info
    .row
      .col-md-3
      .col-md-6
        +form({}).form-contact
          +inputElement({
            type: 'text',
            value: 'Your Name'
          })
          +inputElement({
            type: 'email',
            value: 'Your email address'
          })
          +areaElement({
            row: 5,
            value: 'Message'
          })
          .form-group.text-center
            +button({text: 'sent'})
      .col-md-3
