<!-- Start menu block -->
+section({fixedWidth: true})(style="background-image: url('assets/images/bg-menu.jpg');").menu-section
  +section-title({
    sub: 'Reservation',
    main: 'Book your table'
  }).in-white.main-in-white
  .menu-block
    .menu-heading
      .row.row-equal
        .col-md-4
          h3.heading Menu
        .col-md-8
          .offer-text
            span Special Offer!
          .price-basic
            span.text Basic Menu
            span.price 15$
      .img-cake
        +img('cake', 'assets/images/img-cake.png')
    .menu-content
      .row
        .col-md-6
          .menu-list
            .category
              .img
                +img('menu','assets/images/img-menu-1.png')
              .cat-name
                span Main Dishes
            ul.menu
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
            .view-more.text-right
              +link('view more','#')
        .col-md-6
          .menu-list
            .category.soft-drink
              .img
                +img('menu','assets/images/img-menu-2.png')
              .cat-name
                span Main Dishes
            ul.menu
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
            .view-more.text-right
              +link('view more','#')
        .col-md-6
          .menu-list
            .category.desserts
              .img
                +img('menu','assets/images/img-menu-3.png')
              .cat-name
                span Main Dishes
            ul.menu
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
            .view-more.text-right
              +link('view more','#')
        .col-md-6
          .menu-list
            .category.ice-drink
              .img
                +img('menu','assets/images/img-menu-4.png')
              .cat-name
                span Main Dishes
            ul.menu
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
              li.items
                .name-block
                  span.name Heineken
                  span.price 5,5€
                .desc Drink cold better !
            .view-more.text-right
              +link('view more','#')
<!-- End menu block -->
