+section({fixedWidth: true}).our-chiefs-section
  .row
    .col-md-4
      .chiefs-intro
        .avatar
          .img-wrap
            .img
              +img('chief','assets/images/photo-detail.jpg')
        .intro-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
    .col-md-4
      .chiefs-intro
        .avatar
          .img-wrap
            .img
              +img('chief','assets/images/photo--profile-2.png')
        .intro-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
    .col-md-4
      .chiefs-intro
        .avatar
          .img-wrap
            .img
              +img('chief','assets/images/photo--profile-3.png')
        .intro-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
