<!-- Start our-menu block -->
+section({fixedWidth: true}).no-spacing-mb.our-menu-section
  +section-title({
    sub: 'Find about',
    main: 'Our Menu',
    desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s'
    }).text-center
  .row
    .col-md-6
      .menu-block
        .thumbnail
          +img('food','assets/images/photo-food.jpg')
          +button({url:'#',text: 'Food'}).button-opacity.category
        .menu-list
          .menu-item.hightlight
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
            span.label New
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
    .col-md-6
      .menu-block
        .thumbnail
          +img('drink','assets/images/photo-drink.jpg')
          +button({url:'#',text: 'Drink'}).button-opacity.category
        .menu-list
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item.hightlight
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
            span.label Recommended
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
          .menu-item
            .item-name
              h4.title Seasonal Soup
              p Lorem Ipsum is simply dummy text of the printing
            .price
              span $9.9
<!-- End our-menu block -->