
.food
  .container
    .food-review  
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-1.jpg')
          .food-info
            h3.title
              +link('Chinese food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-2.jpg')
          .food-info
            h3.title
              +link('Japanese food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-3.jpg')
          .food-info
            h3.title
              +link('Vietnamese food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-4.jpg')
          .food-info
            h3.title
              +link('Thailand Food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-5.jpg')
          .food-info
            h3.title
              +link('India Food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
      .col-md-4.col-sm-6.col-xs-12
        .food-item.animate(data-animate-item)
          .food-thumb
            +img('asia-food', '../assets/images/page-1-product-6.jpg')
          .food-info
            h3.title
              +link('Korean Food','#')
            p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
              +link('Read more','#').link-more
    .food-detail.animate(data-animate-item)
      h1.title Recommended Dishes
      .food-detail-thumb
        +img('shushi', '../assets/images/page-1-shushi.jpg')
        +button({url:'#',text: 'Japanese food'}).button-opacity.category
      .food-detail-desc
        .food-title 
          h2 Sushi Set
        .food-text
          p.text-top Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          p.text-bot Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          .food-link
            +link('view more', '#', 'View more') View more

