<!-- Start story block -->
+section({fullWidth: true}).our-story(data-our-story, data-animate-item)
  .container
    .our-story-review
      .review-thum
        +img('delicious', '../assets/images/delicious.jpg')
      .review-content
        +section-title({
          sub: 'Discover',
          main: 'our story',
          desc: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.'
          }).text-center
        +button({text: 'about us', href: '#'})
  .our-story__info.animate(style= 'background-image:url(assets/images/our-story.jpg)', data-animate-item)
    .container
      .col-md-6
        .our-story__chief#chief-info(data-slider-nav, data-as-nav="#chief-image")
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 1
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever si
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 2
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever si
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 3
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 4
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever si
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 5
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever si
          .chief__content
            h1.category
              span JOHN&nbsp;
              | BENNETT
            h2.title FRENCH KITCHEN LEAD 6
            p.desc s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever si

    .our-story__slider#chief-image(data-slider, data-as-nav="#chief-info")
      .our-story__item
        +img('chief', '../assets/images/chief-1.jpg')
      .our-story__item
        +img('chief', '../assets/images/chief-2.jpg')
      .our-story__item
        +img('chief', '../assets/images/chief-3.jpg')
      .our-story__item
        +img('chief', '../assets/images/chief-4.jpg')
      .our-story__item
        +img('chief', '../assets/images/chief-5.jpg')
      .our-story__item
        +img('chief', '../assets/images/chief-6.jpg')
<!-- End story block -->
