<!-- Start reservation block -->
+section({fixedWidth: true}).reservation
  .row.row-eq-height
    .col-md-8
      .reservation-thumb(style="background-image: url('assets/images/page-4-reservation.jpg');")
    .col-md-4
      .reservation-table
        h1.title Online Reservation
        .table-content
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="date") Date
            .col-xs-9
              +inputElement({
                type: 'text',
                value: '11/11/2011'
              })#date
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="time") Time
            .col-xs-9
              +inputElement({
                type: 'text',
                value: '12:00'
              })#time
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="table") Table
            .col-xs-9
              +inputElement({
                type: 'text',
                value: '2'
              })#table
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="people") People
            .col-xs-9
              +inputElement({
                type: 'text',
                value: '12'
              })#people
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="name") Name
            .col-xs-9
              +inputElement({
                type: 'text',
                value: 'Johnson A'
              })#name
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="email") Email
            .col-xs-9
              +inputElement({
                type: 'text',
                value: 'johnson@gmail.com'
              })#email
          .table-row.row-eq-height
            .col-xs-3
              label.cate(for="phone") Phone
            .col-xs-9
              +inputElement({
                type: 'text',
                value: '001 123 456 789'
              })#phone
          .table-row.table-btn
            .col-xs-9.col-xs-offset-3
              +button({text: 'Book Now'}).button-opacity
  .row.row-eq-height
    .reservation-artical
      .col-md-4
        .artical-thumb
          +img('artical', 'assets/images/page-4-artical-1.jpg')
        .artical-detail
          h1.title Lorem Ipsum
          p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      .col-md-4
        .artical-thumb
          +img('artical', 'assets/images/page-4-artical-1.jpg')
        .artical-detail
          h1.title Lorem Ipsum
          p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      .col-md-4
        .artical-thumb
          +img('artical', 'assets/images/page-4-artical-1.jpg')
        .artical-detail
          h1.title Lorem Ipsum
          p.desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
<!-- End reservation block -->