<!-- Start testimonials block -->
.testimonials-section(data-testimonials-slider, data-slides-to-show='2', data-dots="false", data-arrows="false", data-responsive='[{"breakpoint": 1023,"settings": {"slidesToShow": 1,"slidesToScroll": 1}}]')
  h3.title Sestimonials
    span.button-control
      button(data-btn-prev).fa.fa-chevron-left
      button(data-btn-next).fa.fa-chevron-right
  .testimonials-slider(data-slider)
    .testimonials-item
      .testimonials-member
        .avatar
          .img
            +img('chief','assets/images/photo--profile-1.png')
        .info
          .name Lisa Johnson
          .position Manager
      .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .testimonials-item
      .testimonials-member
        .avatar
          .img
            +img('chief','assets/images/photo--profile-1.png')
        .info
          .name Lisa Johnson
          .position Manager
      .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .testimonials-item
      .testimonials-member
        .avatar
          .img
            +img('chief','assets/images/photo--profile-1.png')
        .info
          .name Lisa Johnson
          .position Manager
      .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    .testimonials-item
      .testimonials-member
        .avatar
          .img
            +img('chief','assets/images/photo--profile-1.png')
        .info
          .name Lisa Johnson
          .position Manager
      .desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
<!-- End testimonials block -->