block metas
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name='description', content='')

  - if( isScalable )
    meta(name='viewport', content='width=device-width, initial-scale=1')
  - else
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')
    
  meta(property='og:title',content='The title of this page')
  meta(property='og:image',content='/assets/images/fb_image.png')
  meta(property='og:site_name',content='Site name')
  meta(property='og:description',content='Description')
  meta(property="twitter:title", content="The title of this page")
  meta(property="twitter:description", content="Twitter description share")
  meta(property="twitter:image", content="/assets/images/twitter_image.png")
  
  //- FOLLOWING VALUES ARE STATIC
  meta(property="twitter:card", content="summary")
