// Base Class Definition
// -------------------------

.@{fa-css-prefix} {
  display: inline-block;
  font-family: 'fontawesome-webfont';
  font-size: @fa-font-size-base; // shortening font declaration
  line-height: @fa-line-height-base;
  text-rendering: auto; // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
