// ------------------------------------------------------------
// ICONS
// ------------------------------------------------------------

/**
  {{comment}}
*/

@font-face {
  font-family: {{fontName}};
  src: url("{{fontPath}}/{{fontName}}.eot");
  src: url("{{fontPath}}/{{fontName}}.eot?#iefix") format('embedded-opentype'), url("{{fontPath}}/{{fontName}}.woff") format('woff'), url("{{fontPath}}/{{fontName}}.ttf") format('truetype'), url("{{fontPath}}/{{fontName}}.svg#{{fontName}}") format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icon($content:'') {
  display: inline-block;
  font-family: '{{fontName}}';
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  text-rendering: auto;
  transform: translate(0, 0);

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

  box-sizing: border-box;

  @content;

  &:before {
    content: $content;
  }
}

.icon {
  @include icon();
}

.icon-fw {
  width: 1.28571429em;
  text-align: center;
}

.icon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-x2 { font-size:2em;}
.icon-x3 { font-size:3em;}
.icon-x4 { font-size:4em;}
.icon-x5 { font-size:5em;}

{% for icon in icons -%}
// Save variable
$icon-{{icon.name}}: "\{{icon.code}}";
// Expose as class
.icon.icon-{{icon.name}}:before {
  content: $icon-{{icon.name}};
}
// Save mixin
@mixin icon--{{icon.name}} {
  @include icon($icon-{{icon.name}}) {
    @content;
  }
}



{% endfor %}
