// Start banner section
.banner-wrapper {
  overflow: hidden;
  .banner-section {
    float: left;
  }
  &:not(.slick-slider) {
    .banner-section {
      & +  .banner-section {
        display: none;
      }
    }
  }
}
.banner-section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  z-index: 2;
  .banner-info {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    .desc {
      .px2rem(line-height, 30);
    }
  }
  .button {
    .px2rem(margin-top, 30);
  }
  &.banner-home {
    overflow: hidden;
    .banner-info {
      top: 30%;
      transform: translateX(-50%);
    }
    .title {
      .px2rem(max-width, 285);
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
    .sub-title {
      display: block;
      .px2rem(margin-bottom, 20);
      color: @orange;
      font-family: @playball-regular;
      .px2rem(font-size, 40);
    }
    .slogan {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      .px2rem(padding, 0 30 20 30);
      color: @white;
      font-family: @playball-regular;
      .px2rem(font-size, 30);
      text-align: center;

    }
  }
}
.banner-full-screen {
  height: 100vh;
}
.banner-medium,
.banner-large {
  .px2rem(height, 480);
}
@media (min-width: @screen-md-min) {
  .banner-section {
    .banner-info {
      max-width: 35%;
      .desc {
        text-align: left;
      }
    }
    &.desc-in-right {
      .banner-info {
        left: auto;
        right: 10%;
        transform: translateY(-50%);
      }
    }
    &.desc-in-left {
      .banner-info {
        left: 10%;
        right: auto;
        transform: translateY(-50%);
      }
    }
    &.banner-home {
      .banner-info {
        .px2rem(padding, 0 60);
      }
      .sub-title {
        .px2rem(font-size, 45);
      }
      .title {
        max-width: auto;
      }
      .sologan {
        .px2rem(font-size, 36);
      }
    }
  }
  .banner-large {
    .px2rem(height, 600);
  }
}
// End banner section
