// Start booking-table block
.book-table-home {
  position: relative;
  .px2rem(padding, 50 0);
  overflow: hidden;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  .book-form {
    overflow: hidden;
    .px2rem(padding-top, 40);
  }
  .form-group {
    .px2rem(margin-bottom, 25);
  }
  .form-btn {
    .px2rem(margin-top, 20);
  }
  .form-control {
    .px2rem(border-radius, 3);
  }
  .background-reservation {
    width: 50%;
    position: absolute;
    top: 0;
    z-index: -1;
  }
}
// End booking-table block