// Start booking-table block
.booking-table-section {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  .booking-table {
    background-color: @orange;
    .px2rem(padding-top, 50);
    .px2rem(padding-bottom, 50);
  }
  .form-booking {
    .px2rem(padding-top, 50);
    .button {
      .px2rem(margin-top, 30);
    }
  }
}
@media (min-width: @screen-md-min) {
  .booking-table-section {
    .booking-table {
      width: 50%;
      float: right;
    }
    .form-booking {
      .px2rem(padding-left, 45);
      .px2rem(padding-right, 45);
    }
  }
}
// End booking-table block