// Start Button
.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  .px2rem(padding, 10 20);
  .px2rem(min-width, 170);
  background: @orange;
  border: 0;
  border-radius: 0;
  color: @white;
  font-family: @font-family-bold;
  .px2rem(font-size, 14);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: color 0.5s;
  span {
    position: relative;
    z-index: 3;
  }
  &:before {
    position: absolute;
    content: '';
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    border: 1px solid @white;
    z-index: 2;
    transition: border-color 0.5s;
  }
  &:after {
    position: absolute;
    content: '';
    width: 5%;
    height: 5%;
    top: 50%;
    left: 50%;
    background: @white;
    opacity: 0;
    border-radius: 50%;
    transition: transform 0.5s, opacity 0.5s;
    z-index: 1;
  }
  &:focus {
    outline: none;
  }
  .no-touch &:hover,
  .no-touch &:focus {
    color: @orange;
    text-decoration: none;
    &:before {
      border-color: @orange;
    }
    &:after {
      transform: scale(100);
      opacity: 1;
    }
  }
  &.button-white {
    background: @white;
    color: @orange;
    &:before {
      border-color: @orange;
    }
    &:after {
      background: @orange;
    }
    .no-touch &:hover,
    .no-touch &:focus {
      color: @white;
      &:before {
        border-color: @white;
      }
    }
  }
  &.button-opacity {
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
    color: @white;
    .no-touch &:hover,
    .no-touch &:focus {
      color: @white;
      &:before {
        border-color: @white;
      }
      &:after {
        background: @orange;
      }
    }
  }
}
// End Button