// start contact us block
.contact-us-section {
  .title {
    .main-title {
      .px2rem(font-size, 35);
    }
    &:before {
      display: none;
    }
  }
  .form-contact-us {
    .btn-group {
      width: 100%;
    }
  }
  .contact-info {
    .title {
      text-align: left;
      display: inline-block;
    }
  }
  .info-item {
    .px2rem(margin-bottom, 25);
    .title {
      .px2rem(margin-bottom, 10);
      text-transform: uppercase;
      font-family: @font-family-bold;
    }
    a {
      color: @black;
      &:hover {
        color: @black;
        text-decoration: none;
      }
    }
  }
}
// End contact us block
