// Start detail article
.article-detail {
  .px2rem(padding, 60 0);
  .hour {
    .px2rem(margin-right, 10);
  }
  .article-title {
    .title {
      .px2rem(padding-bottom, 15);
      font-family: @font-playball-regular;
      text-transform: uppercase;
      .sub-title {
        .px2rem(font-size, 30);
      }
    }
  }
  .article-desc {
    .px2rem(margin-bottom, 50);
    .desc-top,
    .desc-bot {
      .px2rem(margin, 20 0);
    }
    .desc-sign {
      text-align: right;
    }
    .desc-thumb {
      position: relative;
      padding-bottom: 56.25%; // ratio 9/16
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  .article-list {
    .article-item {
      .px2rem(padding-bottom, 40);
      .list-thumb {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        img {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .list-text {
        .title {
          display: inline-block;
          .px2rem(padding, 20 0 10);
          .px2rem(font-size, 18);
          font-family: @font-playball-regular;
          text-transform: uppercase;
          color: @orange;
        }

      }
    }
  }
}
@media (min-width: @screen-md-min) { 
  .article-detail {
    .article-title {
      .title {
        text-align: left;
        .sub-title {
          .px2rem(font-size, 40);
        }       
      }
    }
  }
}
// Start detail article