// Start footer
footer {
  position: relative;
  z-index: 1;
  height: 100vh;
  .footer-cover {
    height: 100vh;
    .px2rem(padding, 40 0);
    color: @white;
    background-size: cover;
    background-attachment: fixed;
  }
  .container {
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
  }
  img {
    display: block;
    max-width: 100%;
  }
  .logo {
    display: inline-block;
    .px2rem(font-size, 120);
    color: @white;
    line-height: 1;
    .no-touch &:hover {
      color: @white;
      text-decoration: none;
    }
  }
  .title {
    position: relative;
    text-transform: uppercase;
    .px2rem(margin-bottom, 20);
    .px2rem(padding-top, 5);
    cursor: pointer;
    .fa {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      .px2rem(font-size, 18);
    }
    &.active {
      .fa {
        &:before {
          content: @fa-var-minus-circle;
        }
      }
    }
  }
  .footer-intro {
    .desc {
      .px2rem(padding, 0 10);
    }
  }
  .info-item {
    .px2rem(margin-bottom, 25);
    overflow: hidden;
    transition: height 0.25s ease-in;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: @white;
      .no-touch &:hover {
        opacity: 0.8;
        color: @orange;
      }
    }
  }
  .social-label {
    .px2rem(margin-bottom, 10);
  }
}
@media (min-width: @screen-md-min) {
  footer {
    .footer-intro,
    .footer-info {
      .px2rem(padding-right, 70);
    }
    .info-item {
      .title {
        .fa {
          display: none;
        }
      }
      .px2rem(margin-bottom, 45);
      .info {
        display: block;
      }
    }
  }
}
// End footer