.gallery {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: left center;
  background-attachment: fixed;
  .px2rem(padding, 60 0);
  &:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.5);
  }
  .col-sm-4 {
    padding: 0;
  }
}
.gallery-block {
	overflow: hidden;
	.container {
		overflow: hidden;
	}
  .section-title {
    .title {
      .px2rem(padding, 40 0 15);
    }
  }
	.gallery-wrapper {
		background-color: rgba(255, 255, 255, 1);
	}
  .item {
    position: relative;
    overflow: hidden;
  }
	.gallery-title-block {
		position: relative;
		.px2rem(padding, 10 100 10);
		.slick-list {
			overflow: hidden;
		}
		.slick-arrow {
			position: absolute;
			.px2rem(top, 45);
			transform: translateY(-50%);
			color: @white;
			.px2rem(font-size, 60);
			opacity: 0.7;
			cursor: pointer;
			transition: opacity 0.25s linear;
			&:hover {
				opacity: 0.3;
			}
			&.slick-next {
				.px2rem(right, 15);
			}
			&.slick-prev {
				.px2rem(left, 15);
			}
		}
		.slider-title {
			display: inline-block;
			.title {
				position: relative;
				.px2rem(font-size, 30);
				.px2rem(padding, 20 30 40);
				font-family: @font-playball-regular;
				transition: all 0.5s ease;
				opacity: 0.5;
				color: @white;
				cursor: pointer;
				&:before {
					content: '';
					position: absolute;
					width: 0;
				  height: 0;
					.px2rem(bottom, 20);
					left: 50%;
					transform: translateX(-50%);
				  opacity: 0;
				  border-left: 10px solid transparent;
				  border-right: 10px solid transparent;
				  border-top: 14px solid @white;
				  transition: opacity 0.25s ease;
				}
			}
			&.slick-current {
				.title {
					opacity: 1;
					transform: scale(1.3);
					&:before {
						opacity: 0.8;
					}
				}
			}
		}
	}
	.gallery-content-block {
		overflow: hidden;
	}
	.gallery-detail {
		overflow: hidden;
		.col-xs-4 {
			padding: 0;
		}
		.text-thumb {
			position: relative;
			padding-bottom: 56.25%;
			&:before {
				content: '';
				box-shadow: 0 0 180px rgba(0,0,0,1) inset;
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
			img {
				position: absolute;
			}
		}
		.title-detail {
			.title {
				.px2rem(padding, 14 0 20);
			}
		}
		.text-wrap {
			text-align: center;
	    position: absolute;
	    width: 100%;
	    padding: 10px 0;
	    top: 50%;
	    z-index: 2;
	    transform: translateY(-50%);
	    .text-title {
	    	.px2rem(font-size, 24);
	    	.px2rem(padding-bottom, 10);
	    	color: @white;
	    	font-family: @font-playball-regular;
	    }
		}
		.title-detail {
			.title {
				&:before {
					display: none;
				}
			}
		}
	}
	.gallery-item {
		display: inline-block;
		transform: translate3d(0,0,0);
		.col-md-12 {
			padding: 0;
		}
		&.slick-current {
			.food-title {
				animation: scaleIn 0.7s ease forwards;
			}
		}
	}
	.thumb-primary {
		position: relative;
		padding-bottom: 56.25%;
		overflow: hidden;
		transition: transform 0.5s ease-out;
		img {
			position: absolute;
			max-width: 100%;
			top: 0;
			left: 0;
			transition: transform 6s linear;
			z-index: -1;
		}
		.food-title {
			position: absolute;
			top: 40%;
			width: 100%;
			.px2rem(padding, 60);
			transform: translateY(-50%);
			font-family: @font-playball-regular;
			color: white;
			background: rgba(0, 0, 0, 0.2);
			.px2rem(font-size, 40);
			text-align: center;
			opacity: 0;
		}
	}
	.thumb-secondary {
		overflow: hidden;
		.px2rem(padding, 0 10 30);
		.col-md-6, col-sm-6, col-xs-6 {
			padding: 0 10px;
		}
	}
	.thumb-item {
		position: relative;
		padding-bottom: 56.25%;
		border: solid 5px @grey-3;
		overflow: hidden;
		box-shadow: 0px 10px 20px #999;
		img {
			position: absolute;
			transition: all 0.25s ease-in-out;
		}
	}
}
@media (max-width: @screen-sm-max) {
	.gallery-block {
		.gallery-title-block{
      .px2rem(padding, 0 70);
			.px2rem(margin-bottom, 30);
      .slick-arrow {
        .px2rem(top, 35);
      }
			.slider-title{
				.title {
					.px2rem(padding, 20 30 30);
					.px2rem(font-size, 30);
          &:before {
            .px2rem(bottom, 10);
          }
				}
			}
		}
		.thumb-secondary {
			.px2rem(padding, 0 0 30);
		}
		.thumb-primary {
			.food-title {
				.px2rem(padding, 20);
				.px2rem(font-size, 24);
			}
		}
	}
}
@media (max-width: @screen-xs-max) {
  .section-title {
    .sub-title {
      .px2rem(font-size, 24)
    }
  }
  .gallery-block {
    .col-sm-4 {
      .px2rem(padding, 0 15);
    }
    .item {
      .px2rem(margin-bottom, 15);
    }
    .gallery-title-block {
      padding: 0;
      .slick-arrow {
        display: none;
      }
    }
  }
}
@keyframes scaleIn {
	100% {
		top: 50%;
		transform: translateY(-50%) scale(1);
		opacity: 1;
	}
}
