// Start header
header {
  overflow: hidden;
  .header-mennu {
    position: fixed;
    left: 0;
    .px2rem(padding-top, 20);
    width: 100%;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0);
  }
  .logo {
    display: block;
    color: @white;
    .px2rem(font-size, 100);
    line-height: 1;
    transition: color .5s ease;
    .no-touch &:hover {
      color: @white;
      text-decoration: none;
    }
    img {
      display: block;
      max-width: 100%;
    }
  }
  .top-header {
    position: relative;
    display: flex;
    align-items: center;
  }
  .list-social {
    text-align: center;
  }
  /*Menu button*/
  .collapse-control {
    width: 30%;
  }
  .btn-collapse {
    position: relative;
    .px2rem(width, 30);
    .px2rem(height, 30);
    background: transparent;
    border: none;
    &:focus {
      outline: none;
    }
    &.open {
      .line:first-child {
        transform: rotate(45deg);
        top: 50%;
      }
      .line:first-child + .line {
        display: none;
      }
      .line:last-child {
        transform: rotate(-45deg);
        top: 50%;
      }
      .line {
        border-color: @white;
      }
    }
    .line {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      border: 1px solid @white;
      transition: all 0.3s ease;
    }
    .line:first-child {
      top: 20%;
    }
    .line:last-child {
      top: 80%;
    }
  }
}
// Menu
.main-menu {
  .menu-item {
    width: 100%;
  }
  a {
    position: relative;
    color: @white;
    font-family: @font-family-regular;
    .px2rem(font-size, 16);
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: @orange;
      transition: width 0.25s;
    }
    .no-touch {
      .px2rem(padding-bottom, 10);
    }
    .no-touch &:hover,
    &:focus,
    &:hover {
      text-decoration: none;
    }
    .no-touch &:hover{
      &:before {
        width: 100%;
      }
    }
  }
  // Start Sub menu
  .menu-item-has-children {
    overflow: hidden;
    transition: height .5s;
    &.fa {
      position: relative;
      &:before {
        position: absolute;
        .px2rem(top, 10);
        .px2rem(right, 40);
        color: @white;
        transform: rotate(-90deg);
        transition: transform 0.5s;
      }
    }
    &.open {
      &.fa {
        &:before {
          transform: rotate(0deg);
        }
      }
    }
  }
  // End sub menu
}
// End Menu
.list-social {
  li,
  a {
    border-radius: 50%;
  }
  li {
    display: inline-block;
    .px2rem(margin, 0 2);
    &.facebook {
      background: @blue-1;
    }
    &.instagram {
      background: @blue-3;
    }
    &.twitter {
      background: @blue-3;
    }
    &.pinterest {
      background: @red;
    }
  }
  a {
    display: inline-block;
    .px2rem(width, 25);
    .px2rem(height, 25);
    color: @white;
    text-align: center;
    .px2rem(line-height, 21);
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: border-color 0.5s;
    .no-touch &:hover {
      border-color: transparent;
    }
  }
  .fa {
    .px2rem(line-height, 21);
  }
}

@media (max-width: @screen-sm-max) {
  header {
    position: relative;
    .top-header {
      z-index: 3;
    }
    .main-header {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      .px2rem(padding-bottom, 30);
      background: @black;
      z-index: 2;
      transition: left 0.5s ease;
      // &:before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100vh;
      //   background: rgba(0, 0, 0, 0.4);
      // }
      a {
        color:@white;
        &:before {
          display: none;
        }
      }
      .row {
        max-height: 100%;
        overflow-y: auto;
      }
    }
    &.open-menu {
      height: 100vh;
      overflow: hidden;

      .logo {
        color: @white;
      }
      .main-header,
      .list-social {
        left: 0;
      }
    }
    .list-social {
      position: fixed;
      bottom: 0;
      left: -100%;
      width: 100%;
      .px2rem(padding, 40 0);
      border-top: 1px solid @white;
      text-align: center;
    }
  }
  .main-menu {
    .px2rem(padding, 30 0);
    // text-align: center;
    .menu-item {
      display: block;
      .px2rem(margin, 10 0);
      .px2rem(padding, 0 40);
      a {
        display: block;
        .px2rem(padding, 10 0);
      }
    }
  }
}
@media (min-width: @screen-md-min) {
   header {
    .row-equal-height {
      display: flex;
      align-items: center;
    }
    .list-social {
      text-align: right;
    }
  }
  .main-menu {
    text-align: right;
    .menu-item {
      display: inline-block;
      width: auto;
      .px2rem(margin, 0 5);
      .px2rem(padding, 0 15);
      a {
        display: block;
        .px2rem(padding-bottom, 10);
      }
    }
    // Start Sub menu
    .menu-item-has-children {
      position: relative;
      overflow: visible;
      a {
        &:hover {
          &:before {
            display: none;
          }
        }
      }
      &.fa {
        &:before {
          right: 0;
          top: 0;
        }
      }
      &:hover {
        .sub-menu {
          opacity: 1;
          visibility: visible;
          z-index: 10;
        }
        &.fa {
          &:before {
            transform: rotate(0);
          }
        }
      }
    }
    .sub-menu {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 100%;
      .px2rem(padding, 10 0);
      .px2rem(min-width, 300);
      background-color: rgba(0, 0, 0, 0.8);
      z-index: -1;
      transition: opacity 0.5s;
      .menu-item {
        width: 100%;
        text-align: left;
        .px2rem(margin, 10);
      }
      a {
        .no-touch &:hover {
          color: @orange;
        }
      }
    }
    // End Sub menu
  }
}
@media (min-width: @screen-lg-min) {
  .list-social {
    li {
      .px2rem(margin, 0 5);
    }
  }
}
.frozen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
// End header
