.loader-block {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-position: center;
	background-color: white;
	background-repeat: no-repeat;
	transition: opacity 3s cubic-bezier(.97,.01,.96,.66);
}