// Start location block
.location-section {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  .location-info {
    .px2rem(padding, 70 0 150)
  }
}
.location-map {
  .px2rem(height, 400);
}

@media (min-width: @screen-md-min) {
  .location-map {
    .px2rem(height, 640);
    iframe {
      width: 100%;
      height: 100%;
      pointer-events: none;
      position: relative;
      &.active {
        pointer-events: auto;
      }
    }  
  }
}
// End location block