// Start menu block
.menu-section {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  .px2rem(padding-top, 200);
  .menu-block {
    .px2rem(padding-top, 30);
  }
  .menu-heading {
    position: relative;
    .heading {
      display: inline-block;
      .px2rem(padding, 10 88 10 12);
      background: url('../images/bg-menu-heading.png') no-repeat;
      background-size: contain;
      color: @white;
      font-family: @font-family-bold;
      .px2rem(font-size, 55);
      text-transform: uppercase;
      letter-spacing: 10px
    }
    .offer-text {
      display: inline-block;
      .px2rem(padding, 30 0);
      background: url('../images/bg-offter.png') no-repeat;
      background-size: contain;
      background-position: center;
      color: @orange;
      font-family: @font-playball-regular;
      .px2rem(font-size, 45);
      span {
        display: inline-block;
        transform: rotate(-20deg);
      }
    }
    .price-basic {
      position: relative;
      .px2rem(top, -10);
      left: 20%;
    }
    .text {
      color: @white;
      .px2rem(font-size, 24);
      text-transform: uppercase;
    }
    .price {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      .px2rem(padding, 15);
      background: url('../images/bg-price.png') no-repeat;
      background-size: contain;
      background-position: center;
      color: @orange;
      font-family: @font-family-bolditalic;
      .px2rem(font-size, 50);
    }
    .img-cake {
      position: absolute;
      top: 0;
      right: 0;
      .px2rem(max-width, 100);
    }
  }
  .category {
    display: flex;
    align-items: flex-end;
    background: url('../images/line.png') no-repeat;
    background-size: contain;
    background-position: left top;
    .img {
      max-width: 45%;
      &.img-vertical {
        max-width: 35%;
      }
    }
    .cat-name {
      .px2rem(padding, 60 0 10 10);
      background: url('../images/bg-menu-cat-1.png') no-repeat;
      background-size: contain;
      background-position: left bottom;
      color: @white;
      .px2rem(font-size, 28);
      line-height: 1;
    }
  }
  .menu-list {
    .px2rem(padding-top, 30);
    .view-more {
      .px2rem(padding-top, 25);
      .px2rem(padding-bottom, 25);
      a {
        color: @orange;
        .no-touch &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .menu {
    color: @white;
    .px2rem(margin-top, 35);
    .items {
      & + .items {
        .px2rem(margin-top, 20);
      }
    }
    .name-block {
      overflow: hidden;
      &:after {
        display: block;
        content: '........................................................................................................................................................................................................................';
        white-space: nowrap;
        overflow: hidden;
      }
      .name {
        float: left;
        margin-right: 5px;
        span {
          display: block;
        }
      }
      .price {
        float: right;
        margin-left: 5px;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .menu-section {
    .menu-heading {
      .row-equal {
        display: flex;
        align-items: center;
      }
      .heading {
        .px2rem(font-size, 75);
      }
      .offer-text {
        span {
          .px2rem(font-size, 47);
        }
      }
      .text {
        .px2rem(font-size, 21);
      }
      .price-basic {
        .px2rem(top, -25);
      }
      .price {
        .px2rem(font-size, 60);
      }
      .img-cake {
        max-width: inherit;
      }
    }
    .menu-content {
      .px2rem(padding-bottom, 70);
      background: url('../images/bg-menu-list.png') no-repeat;
      background-size: cover;
      background-position: top center;
    }
    .category {
      background-image: none;
      .px2rem(min-height, 225);
      .img {
        .px2rem(height, 250);
      }
      .img {
        position: relative;
        width: 45%;
      }
      .cat-name {
        width: 55%;
      }
      &.soft-drink {
        .img {
          width: 35%;
        }
        .cat-name {
          background-image: url('../images/bg-menu-cat-2.png');
          width: 65%;
        }
      }
      &.desserts {
        .img {
          width: 60%;
          max-width: initial;
        }
        .cat-name {
          width: 40%;
        }
      }
      &.ice-drink {
        .cat-name {
          background-image: url('../images/bg-menu-cat-3.png');
        }
      }
      &.ice-drink,
      &.desserts {
        img {
          .px2rem(bottom, -60);
        }
      }
      img {
        position: absolute;
        .px2rem(bottom, -40);
        left: 0;
        max-width: initial;
        height: 280px;
        width: auto;
      }
    }
  }
}
// Start menu block