
.food {
  overflow: hidden;
  .px2rem(margin-bottom, 20);
  .container,
  .col-xs-12 {
    padding: 0; 
  }
  .food-review {
    display: block;
  }
  .food-item {
    position: relative;
  }
  .food-thumb {
    position: relative;
    padding-bottom: 133.333%;
    overflow: hidden;
    .no-touch &:hover {
      img {
        transform: scale(1.2);
      }
    }
    img {
      position: absolute;
      top: 0;
      max-width: 100%;
      transition: transform .5s;
    }
  }
  .food-info {
    position: absolute;
    top: 50%;
    .px2rem(padding, 23 0);
    transform: translate(0, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: @white;
  }
  .title {
    a {
      display: block;
      .px2rem(margin-bottom, 9);
      color: @black;
      font-family: @font-family-bold;
      .px2rem(font-size, 21);
      .px2rem(letter-spacing, 2);
      text-decoration: none;
      transition: color 0.5s;
      .no-touch &:hover {
        color: @orange;
      }
    }
  }
  .desc {
    .px2rem(font-size, 11);
    .px2rem(line-height, 24);
    .px2rem(padding, 0 30);
  }
  .link-more {
    display: inline-block;
    .px2rem(margin-left, 5);
    color: @orange;
    text-decoration: underline;
    .no-touch &:hover {
      opacity: 0.8;
    }
  }
  .food-detail {
    display: inline-block;
    .px2rem(padding-top, 17);
    .title {
      font-family: @font-playball-regular;
      .px2rem(font-size, 26);
      .px2rem(letter-spacing, 3);
      text-align: center;
    }
    .food-detail-thumb {
      position: relative;
      display: block;
      padding-bottom: 100%;
      overflow: hidden;
      img {
        position: absolute;
        max-width: 100%;
      }
    }
    .category {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-transform: none;
      .px2rem(letter-spacing, 2);
    }
    .food-detail-desc {
      display: block;
      .px2rem(padding, 15 30 0);
      .food-title {
        text-align: left;
        .px2rem(padding-bottom, 8);
        h2 {
          .px2rem(font-size, 30);
          .px2rem(letter-spacing, 2);
          font-family: @font-family-bold;
        }
      }
      .food-text {
        .px2rem(font-size, 11);
        .px2rem(line-height, 20);
        letter-spacing: 0;
      } 
      .text-top {
        .px2rem(margin-bottom, 8);
      }
      .text-bot {
        .px2rem(margin-bottom, 12);
      }
      .food-link {
        display: block;
        text-align: right;
        .px2rem(font-size, 11);
        a {
          color: @black;
          .px2rem(padding-bottom, 2);
          border-bottom: solid 1px @black;
          transition: all 0.25s ease-in;
          text-decoration: none;
          &:hover {
            color: @blue-3;
            border-bottom: solid 1px @blue-3;
          }
        }
      }
    }
  }
}
@media (min-width: @screen-sm-min) { 
  .food {
    .px2rem(margin, 60 0 90);
    .container,
    .col-xs-12 {
      .px2rem(padding, 0 15);
    }
    .food-item {
      .px2rem(margin-bottom, 30);
    }
    .food-review {
      display: inline-block;
      .px2rem(margin-bottom, 40);
    }
    .food-info {
      position: relative;
      top: inherit;
      .px2rem(padding-top, 20);
      transform: none;
      background-color: rgba(255, 255, 255, 1);
      color: @black;
    }
    .title {
      a {
        .px2rem(margin-bottom, 20);
        .px2rem(font-size, 28);
      }
    }
    .desc {
      padding: 0;
      .px2rem(line-height, 30);
      .px2rem(font-size, 14);
    } 
  }
}
@media (min-width: @screen-md-min) {
  .food {
    .food-detail {
      .px2rem(padding-top, 24);
      .title {
        .px2rem(margin-bottom, 28);
        .px2rem(font-size, 45);
        .px2rem(letter-spacing, 9);
        text-align: left;
      }
      .food-detail-thumb {
        width: 55%;
        float: left;
        padding-bottom: 50%;
      }
      .food-detail-desc {
        width: 45%;
        float: left;
        padding-top: 0;
        .food-title {
          .px2rem(padding-bottom, 34);
          text-align: right;
          h2 {
            .px2rem(font-size, 45);
            .px2rem(letter-spacing, 4);
          }
        }
        .food-text {
          .px2rem(font-size, 14);
          .px2rem(letter-spacing, 2);
          .px2rem(line-height, 30);
        }
        .text-top {
          .px2rem(margin-bottom, 32);
        }
        .text-bot {
          .px2rem(margin-bottom, 35);
        }
        .food-link {
          a {
            .px2rem(font-size, 14);
          }
        }
      }
    }
  }
}