// Start genuine block
.our-genuine-section {
  .genuine-item {
    .px2rem(padding-top, 20);
    .genuine-thumb {
      .px2rem(margin-bottom, 10);
    }
    .title {
      text-align: center;
      font-family: @font-family-bolditalic;
    }
  }
}
// End genuine block