// Start our story block
@media (min-width: @screen-md-min) {
  .our-story {
    &-review {
      .px2rem(padding-bottom, 85);
    }
    .review-thum {
      width: 56.5%;
      .px2rem(padding, 0 10 0);
    }
    .review-content {
      width: 43.5%;
      .px2rem(margin-left, -65);
      // .px2rem(padding-top, 65);
      padding-top: 0;
      .desc {
        .px2rem(line-height, 30);
        .px2rem(padding-top, 25);
      }
      .button {
        .px2rem(margin-top, 27);
        .px2rem(padding, 17 0);
      }
    }
    &__chief {
      position: absolute;
      .px2rem(top, 35);
      padding: 0;
      .chief__content {
        text-align: left;
        .category {
          .px2rem(margin-bottom, 2);
          .px2rem(font-size, 36);
          span {
            font-family: @font-play-bold;
          }
        }
      }
    }
    .our-story__item {
      img {
        top: 100%;
        transform: translateY(-100%);
      }
    }
    &__slider {
      overflow: hidden;
      padding: 35px 0 8%;
    }
    .slick-arrow {
      position: absolute;
      .px2rem(padding, 20);
      top: 0;
      bottom: auto;
      &.slick-prev {
        transform: rotate(180deg);
        .px2rem(right, 75);
      }
      &.slick-next {
        right: 0;
        transform: none;
      }
    }
  }
}
// End our story block
