// Start our story block
img {
  width: 100%;
}
div:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}
.our-story {
  padding-bottom: 0;
  &-review {
    .px2rem(padding-bottom, 25);
    .sub-title,
    .main-title,
    .desc {
      opacity: 1;
      transform: none;
    }

  }
  .review-thum {
    display: inline-block;
    width: 100%;
    // .px2rem(padding, 25 10 0);
    .px2rem(padding, 0 10 0);
  }
  .review-content {
    display: inline-block;
    width: 100%;
    .px2rem(padding-top, 20);
    text-align: center;
    vertical-align: top;
    .desc {
      .px2rem(line-height, 30);
      .px2rem(padding-top, 25);
    }
    .button {
      .px2rem(margin-top, 27);
      .px2rem(padding, 17 0);
    }
  }
  &__info {
    position: relative;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  &__chief {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    .px2rem(padding, 40 0);
    .chief__content {
      font-family: @font-play-regular;
      display: inline-block;
      vertical-align: top;
      color: @black-lighter;
      text-align: center;
      .category {
        .px2rem(margin-bottom, 2);
        .px2rem(font-size, 36);
        span {
          font-family: @font-play-bold;
        }
      }
    }
    .title {
      .px2rem(font-size, 24);
      .px2rem(margin-bottom, 13);
    }
    .desc {
      font-family: @font-family-base;
      .px2rem(line-height, 24);
    }
  }
  &__slider {
    overflow: hidden;
    padding: 35px 0 8%;

  }
  &__item {
    display: inline-block;
    vertical-align: bottom;
    .px2rem(padding, 0 10);
    transition: width 0.25s ease-in-out;
    img {
      position: relative;
      .px2rem(margin-bottom, -6);
      border: solid 2px @orange;
      box-shadow :10px 10px 10px @black-lighter;
    }
    &:focus {
      outline: none;
    }
  }
  .slick-arrow {
    position: absolute;
    .px2rem(padding, 10);
    bottom: 0;
    background-color: @orange;
    color: @white;
    z-index: 1100;
    transition: background-color 0.25s ease-in;
    cursor: pointer;
    &:before {
      transition: color 0.25s ease-in;
    }
    &:hover {
      background-color: @grey;
      color: @black;
    }
    &.slick-prev {
      transform: rotate(180deg) translate(50%, 0);
      right: 50%;
    }
    &.slick-next {
      right: 50%;
      transform: translate(150%, 0);
    }
  }
}
@import "our-story-responsive.less";
// Start our story block
