// Start our menu block
.our-menu-section {
  .section-title {
    .px2rem(padding, 0 15);
  }
  .thumbnail {
    border: none;
    padding: 0;
  }
  .menu-block {
    .px2rem(margin, 25 0);
  }
  .thumbnail {
    position: relative;
    .category {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .menu-list {
    .px2rem(padding, 0 30);
    .menu-item {
      position: relative;
      display: table;
      width: 100%;
      .px2rem(margin-bottom, 30);
      .px2rem(padding, 5);
      border: 1px solid transparent;
      transition: border-color .5s;
      &:last-child {
        margin-bottom: 0;
      }
      .no-touch &:hover,
      &.hightlight {
        border-color: @orange;
      }
      .item-name,
      .price {
        display: table-cell;
        vertical-align: top;
      }
      .menu-item {
        width: 70%;
      }
      .price {
        width: 30%;
        text-align: right;
      }
      .label {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        .px2rem(padding, 2 10);
        background: @orange;
        border-radius: 0;
        color: @black;
        font-family: @font-family-bolditalic;
        font-size: @font-size-base;
      }
    }
    .title {
      font-family: @font-family-bold;
      text-transform: uppercase;
      .px2rem(margin-bottom, 5);
    }
  }
}
@media (min-width: @screen-md-min) {
  .our-menu-section {
    .section-title {
      max-width: 50%;
      margin: 0 auto;
    }
    .menu-block {
      .px2rem(margin-top, 40);
    }
  }
}
// End our menu block