// Start our images story block
.our-image-story {
  position: relative;
  overflow: hidden;
  padding-top: 2.6%;
  padding-bottom: 11.5%;
  background-image:url('../images/bg-our-story.png');
  background-size: cover;
  .mask,
  .image {
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image:url('../images/bg-our-story-2.png');
    background-size: cover;
    z-index: 2;
    .container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      padding-bottom: 11.5%;
      padding-left: 15%;
      .px2rem(font-size, 25);
      font-family: @playball-regular;
      text-align: center;
    }
    .title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .image {
    position: relative;
    width: 88%;
    float: right;
    background-size: cover;
    z-index: 1;
    .img-wrap {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      padding-bottom: 38%;
      overflow: hidden;
    }
    .img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img {
      display: block;
    }
  }
}
@media (min-width: @screen-md-min) {
  .our-image-story {
    .mask {
      .container {
        padding-left: 15px;
      }
      .title {
        .px2rem(font-size, 55);
      }
    }
  }
}
// Start our images story block