// Start our chiefs block
.our-chiefs-section {
  position: relative;
  padding: 0;
  margin-top: -10%;
  .chiefs-intro,
  .avatar {
    .px2rem(padding, 0 15);
  }
  .chiefs-intro {
    .px2rem(padding-bottom, 20);
  }
  .avatar {
    .px2rem(padding-bottom, 15);
    .img-wrap {
      position: relative;
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      max-width: 100%;
      border-radius: 50%;
      border: 1px solid @black;
      box-shadow: 10px 10px 13px 0 rgba(0, 0, 0, 0.75);
      background-size: cover;
      overflow: hidden;
    }
    .img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      .no-touch &:hover {
        img {
          transform: scale(1.25);
        }
      }
      img {
        display: block;
        max-width: 100%;
        transition: transform 0.5s ease-in-out;
      }
    }
  }
  .intro-text {
    .px2rem(margin-top, 15);
    text-align: center;
  }
}
@media (min-width: @screen-md-min) {
  .our-chiefs-section {
    margin-top: 0;
    .chiefs-intro {
      margin-top: -40%;
    }
  }
}
// End our chiefs block