// Start reservation block
.reservation {
  color: @white;
  .reservation-thumb {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    background-size: cover;
  }
  .reservation-table {
    .title {
      .px2rem(padding, 30 0 20);
      .px2rem(font-size, 24);
      font-family: @font-family-bold;
      text-align: center;
      .px2rem(letter-spacing, 2);
      background-color: @orange;
      border-bottom: 1px solid @white;
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .table-content {
    background-color: @orange;
    .px2rem(font-size, 12.16);
    overflow: hidden;
    .table-row {
      overflow: hidden;
      .px2rem(padding, 30 18 6);
      &.table-btn {
        border: none;
        .px2rem(margin-bottom, 20);
        .px2rem(padding-top, 20);
        text-align: center;
      }
    }
    .cate {
      .px2rem(padding, 6 0);
    }
  }
  .reservation-artical {
    .px2rem(padding-top, 5);
    color: @black;
    text-align: center;
    .artical-thumb {
      position: relative;
      padding-bottom: 50%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .title {
      .px2rem(padding, 13 0 3);
      .px2rem(font-size, 21.3);
      .px2rem(letter-spacing, 2);
      text-align: center;
      font-family: @font-family-bold;

    }
    .desc {
      .px2rem(font-size, 11);  
      .px2rem(line-height, 24);  
    }
  }
}
@media (min-width: @screen-md-min) {
  .reservation {
    .reservation-artical {
      overflow: hidden;
      .px2rem(margin-top, 50);
    }
    .row-eq-height {
      display: flex;
    }
    .reservation-thumb {
      padding-bottom: 0;
      height: 100%;
    }
  }
}
// End reservation block