// Start section title block
.section-title {
  overflow: hidden;
  .title {
    display: block;
    position: relative;
    text-align: center;
    .px2rem(padding-bottom, 30);
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      .px2rem(width, 70);
      .px2rem(height, 3);
      background: @black;
    }
  }
  .sub-title {
    display: block;
    color: @orange;
    font-family: @playball-regular;
    .px2rem(font-size, 40);
  }
  .main-title {
    display: block;
    color: @black-lighter;
    font-family: @font-family-bold;
    .px2rem(font-size, 40);
    text-transform: uppercase;
  }
  &.in-white {
    .title {
      &:before {
        background: @white;
      // background-image: url('../images/bg-title-in-white.png');
      }
    }
  }
  &.sub-in-white {
    .sub-title {
      color: @white;
    }
  }
  &.main-in-white {
    .main-title {
      color: @white;
    }
  }
  .desc {
    .px2rem(padding-top, 30);
    
  }
  &.desc-in-white {
    .desc {
      color: @white;
    }
  }
}
@media (min-width: @screen-md-min) {
  .section-title {
    .sub-title {
      .px2rem(font-size, 45);
    }
    .main-title {
      .px2rem(font-size, 45);
    }
  }
}

.banner-section {
  &.active {
    .section-title {
        
    }
    
  }
}
@keyframes scalTran {
  70% {
    opacity: 1;
    transform: translateY(0) scale(1.5, 1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }

}
@keyframes fadeOut {
  100% {
    opacity: 1;
  }
}

@keyframes transX {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
// End section title block