// Start testimonials block
.testimonials-section {
  .px2rem(padding-bottom, 30);
  .title {
    position: relative;
    .px2rem(font-size, 40);
    font-family: @font-playball-regular;
    .px2rem(margin-bottom, 30);
    line-height: 60px;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid @black;
    }
  }
  .button-control {
    font-size: 0;
    button {
      .px2rem(padding, 3 5);
      color: @orange;
      border: 1px solid @orange;
      background-color: transparent;
      transition: all .5s;
      &:focus {
        outline: 0;
      }
      .no-touch &:hover {
        background-color: @orange;
        color: @white;
      }
    }
  }
  .testimonials-slider {
    overflow: hidden;
  }
  .testimonials-item {
    float: left;
  }
  .button-control {
    float: right;
  }
  .testimonials-member {
    display: table;
    width: 100%;
    .px2rem(margin-bottom, 20);
  }
  .avatar,
  .info {
    display: table-cell;
    vertical-align: top;
  }
  .avatar {
    width: 25%;
    .px2rem(margin-bottom, 20);
    .img {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      border-radius: 50%;
      border: 1px solid @black;
      overflow-y: hidden;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      max-width: 100%;
    }
  }
  .info {
    .px2rem(padding-left, 15);
    font-family: @font-family-bold;
    .name {
      .px2rem(font-size, 16);
    }
    .position {
      position: relative;
    .px2rem(padding-bottom, 15);
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 3px;
        background: @orange;
      }
    }
  }
}
@media (min-width: @screen-md-min) {
  .testimonials-section {
    .px2rem(padding-bottom, 60);
    .testimonials-member {
      .avatar {
        width: 30%;
      }
    }
  }
}
// End testimonials block