// Start the story block
.the-story-section {
  overflow: hidden;
  .photo {
    img {
      display: block;
      max-width: 100%;
    }
  }
  .desc {
    .px2rem(padding, 20 0);
    .px2rem(line-height, 45);
  }
}
@media (min-width: @screen-md-min) {
  .the-story-section {
    .the-story-item {
      margin-bottom: 0;
      overflow: hidden;
      width: 100%;
      position: relative;
      &.row-reverse {
        .photo {
        float: left;
        }
      }
    }
    .photo{
      width: 50%;
    }
    .photo {
      float: right;
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
// End the story block