// Start video block
.video-tour-section {
  overflow: hidden;
  .px2rem(padding-bottom, 30);
  .title {
    position: relative;
    .px2rem(margin-bottom, 20);
    font-family: @font-playball-regular;
    .px2rem(font-size, 40);
    text-align: center;
    line-height: 60px;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid @black;
    }
  }
  .video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 63.08%;
  }
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    border: 0;
  }
}
// End video block
