// Reset
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  .cssreset();
  font-weight: normal;
}
ul {
  list-style: none;
}
.wrapper {
  position: relative;
  z-index: 2;
  background-color: @white;
}
.section {
  position: relative;
  z-index: 2;
  .px2rem(padding, 30 0);
  background-color: @white;
}
@media (min-width: @screen-md-min) {
  .section {
    .px2rem(padding, 60 0);
  }
}
@media (max-width: @screen-sm-max) {
  .section {
    &.no-spacing-mb {
      .row {
        margin: 0;
      }
      .container,
      .container-fluid,
      [class^="col-xs-"],
      [class^="col-sm-"],
      [class^="col-md-"],
      [class^="col-lg-"] {
        padding: 0;
      }
    }
  }
}
