// Fontface
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?609rqb');
  src:  url('../fonts/icomoon.eot?609rqb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?609rqb') format('truetype'),
    url('../fonts/icomoon.woff?609rqb') format('woff'),
    url('../fonts/icomoon.svg?609rqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontawesome-webfont';
  src:  url('../fonts/fontawesome-webfont.eot?609rqb');
  src:  url('../fonts/fontawesome-webfont.eot?609rqb#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-faces(@abraham-lincoln @lora-bold @lora-bolditalic @lora-italic @lora-regular @playball-regular @play-bold @play-regular);

[class^="splatter-ico-"], [class*=" splatter-ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.splatter-ico-splatter-logo:before {
  content: "\e904";
}
.splatter-ico-drink:before {
  content: "\e900";
}
.splatter-ico-chef:before {
  content: "\e901";
}
.splatter-ico-cocktail:before {
  content: "\e902";
}
.splatter-ico-food:before {
  content: "\e903";
}
.splatter-ico-triagle-right:before {
  content: "\ea1c";
}