// Form
.form-control {
  border-radius: 0;
  &:focus {
    border-color: @orange;
  }
}
.inputElement {
  width: 100%;
  color: @black-2;
  &.with-icon {
    position: relative;
    &:before {
      position: absolute;
      .px2rem(left, 10);
      top: 50%;
      transform: translateY(-50%);
      color: @grey-4;
    }
    .form-control {
      .px2rem(padding-left, 30);
    }
  }
}
textarea {
  resize: none;
}
