.splatter-ico {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.splatter-ico-logo:before {
  content: "\e904";
}
.splatter-ico-drink:before {
  content: "\e900";
}
.splatter-ico-chef:before {
  content: "\e901";
}
.splatter-ico-cocktail:before {
  content: "\e902";
}
.splatter-ico-food:before {
  content: "\e903";
}
