//Color
@black: #000000;
@black-lighter: #231f20;
@black-2: #333332;
@blue-1: #314a7e;
@blue-2: #406093;
@blue-3: #4c8aaf;
@orange: #e5821d;
// @orange: #fcb813;
@red: #963429;
@white: #ffffff;
@grey: grey;
@grey-1: #3c414a; 
@grey-2: #555b66;
@grey-3: #EFEFEF;
@grey-4: #979797;

//Font
@abraham-lincoln: 'AbrahamLincoln';
@lora-bold: 'Lora-Bold';
@lora-bolditalic: 'Lora-BoldItalic';
@lora-italic: 'Lora-Italic';
@lora-regular: 'Lora-Regular';
@playball-regular: 'Playball-Regular';
@play-regular: 'Play-Regular';
@play-bold: 'Play-Bold';

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @lora-italic, @font-family-sans-serif;
@font-family-bold:        @lora-bold, @font-family-sans-serif;
@font-family-bolditalic:  @lora-bolditalic, @font-family-sans-serif;
@font-family-regular:     @lora-regular, @font-family-sans-serif;
@font-abraham-lincoln:    @abraham-lincoln, @font-family-sans-serif;
@font-playball-regular:   @playball-regular, @font-family-sans-serif;
@font-play-regular:       @play-regular, @font-family-sans-serif;
@font-play-bold:          @play-bold, @font-family-sans-serif;