include ../_mixins/all
extends app-layout

block hreflang
  include ../_includes/hreflang

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block variables
  -var isScalable = false;
  -var isMenuAvailable = true;

block footer
  include ../_components/footer

block script-external
  // build:js ./assets/javascript/script.min.js
  script(src="#{baseScripts}/script.js")
  // endbuild
