include ../_mixins/all
//- variables
- var base            = '.'
- var bower           = base + '/../app/assets/bower_components'
- var baseAssets      = base+'/assets'
- var baseCss         = baseAssets+'/stylesheets'
- var baseScripts     = baseAssets+'/javascript'
- var baseDatas       = baseAssets + '/datas'

block variables
  - if(typeof bodyClass === "undefined"){ bodyClass = null }
  - if(typeof isScalable === "undefined"){ isScalable = true }
  - if(typeof isMenuAvailable === "undefined"){ isMenuAvailable = true }

doctype
html
  head
    title [Site title] #{langUppercase}
    //- include metas
    include ../_includes/metas
    //- include common css
    include ../_includes/common-css
    //- include block hreflang
    block hreflang
    //- include vendors js
    include ../_includes/vendors-js
    //- script to include in head
    block script-head
    script(src='#{baseScripts}/modernizr.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js')

  body(class=bodyClass)
    
    #wrapper
      block body-content

    
    script(src='#{baseScripts}/script.js')


