
extends _layout/layout-no-header

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  include _components/_blocks/book-table-home-page