extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  +banner-section({
    url: 'assets/images/page-1-header.jpg',
    info: {sub: 'Our Products', main: 'ASIA FOOD'},
    optionTitle: 'in-white main-in-white desc-in-white animate',
    btn: {
      btnText: 'View more'
    }
  }).banner-medium.desc-in-right.banner-pri.animate(data-animate-item)
  include _components/_blocks/contact-us-1
  //- include _components/_blocks/contact-us

