extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  +banner-section({
    url: 'assets/images/bg-banner-home-2.jpg',
    info: {sub: 'Discover', main: 'our story'},
    optionTitle: 'in-white main-in-white'
  }).desc-in-right.banner-medium
  include _components/_blocks/detail-article