extends _layout/layout-no-header

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  div
    h2 Gallery
    include _components/_blocks/gallery
    
