extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  include _components/_blocks/banner-home
  include _components/_blocks/our-story
  include _components/_blocks/our-menu
  include _components/_blocks/gallery
  include _components/_blocks/book-table-home-page
