//- extends _layout/app-layout

block variables
	-var isMenuAvailable = false;

block css-external
	//- link(rel='stylesheet', href='#{baseCss}/styles.css')

body.template
	style.
			.template {text-transform: uppercase; text-align: center;}
			.template li { display: inline-block; vertical-align: top; width: 100%;padding: 5px; text-align: center;}
			.template .element-custom { float: left;}
			.template .element-custom__label { text-align: center; padding-top: 5px; padding-bottom: 5px;}
			.template .element-custom__label .check { top: 5px;}
			.template .nav-sitemap li { display: block; padding: 0 5px; margin: 0;}
			.template a {display: block; padding: 15px; text-decoration: none; color: #111; line-height: 1;}
			.template .page-title {color: #003da5; margin: 30px 0 0;}
			.template #requirement p {text-transform: initial; margin-top: 10px;}
			.module {padding: 10px; font-weight: bold; color: #2d0909;}
			h2 {font-weight: bold}
			.list-sitemap li span { display: block;}
			.list-sitemap li { vertical-align: middle;}
			.snow-container{
				background-color: #1D1D1D;
				padding: 30px;
				margin: 0px;
				width: 100%;
				height: auto;
				display: block;
				margin: auto;
			}
			#snowflakeContainer {
				position: absolute;
				left: 0px;
				top: 0px;
			}
			.snowflake {
				padding-left: 15px;
				font-family: Cambria, Georgia, serif;
				font-size: 14px;
				line-height: 24px;
				position: fixed;
				color: #e02f2f;
				user-select: none;
				z-index: 1000;
				opacity: 0;
			}
			.snowflake img { max-width: 30px;}
			.snowflake:hover {
				cursor: default;
			}
			@media only screen and (min-width : 767px) {
				.template ul li { width: 32%;}
				.template .nav-sitemap li { display: inline-block; width: auto;}
				.template #requirement li { width: 48%;}
			}
	div.index(style='height:500px')
		.col-sm-12
			h1 Site Map
			br
			br
			h2 Page
			ul.row.text-left
				li
					a(href='home.html', title='Home Page') Home Page
				li
					a(href='page-1.html', title='Home Page') Page 1
				li
					a(href='page-2.html', title='Home Page') Page 2
				li
					a(href='menu.html', title='Home Page') Page 5
				li
					a(href='our-stories.html', title='Home Page') Page 7
			h2 Component
			ul.row.text-left
				li
					a(href='template-style-guide.html', title='Our Product') Style Guide
				li
					a(href='our-product.html', title='Our Product') Our Product
				li
					a(href='our-stories.html', title='Our Story') Our Story
				li
					a(href='reservation.html', title='Reservation') Reservation
				li
					a(title='Gallery', href='gallery.html') Gallery
				li
					a(title='Menu Block', href='menu-block.html') Menu Block
				li
					a(title='Book Table Home Page', href='book-table.html') Book Table
				li
					a(title='Article Detail', href='detail-article.html') Article Detail

