extends _layout/layout-no-header

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  div
    h2 Menu Block
    include _components/_blocks/menu-block