extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  <!-- Start banner block -->
  .banner-section(style="background-image:url('assets/images/bg-menu-page.jpg');")
  <!-- End banner block -->
  include _components/_blocks/menu
  include _components/_blocks/genuine
  include _components/_blocks/menu-group

