extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  div
    h2 Our Story
    include _components/_blocks/our-story

