extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  .banner-section(style="background-image:url('assets/images/bg-our-stories.jpg');").banner-home
  include _components/_blocks/our-chiefs
  include _components/_blocks/our-image-story
  include _components/_blocks/the-story
