extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  +banner-section({
    url: 'assets/images/page-2-header.jpg',
    info: {sub: 'Our Products', main: 'EUROPEAN FOOD'},
    optionTitle: 'in-white main-in-white desc-in-white animate',
    btn: {
      btnText: 'View more'
    }
  }).banner-medium.desc-in-left.banner-pri.animate(data-animate-item)
  .food
    .container
      .food-review  
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-1.jpg')
            .food-info
              h3.title French food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-2.jpg')
            .food-info
              h3.title Italian food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-3.jpg')
            .food-info
              h3.title Spanish food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-4.jpg')
            .food-info
              h3.title British food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-5.jpg')
            .food-info
              h3.title Russian food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
        .col-md-4.col-sm-6.col-xs-12
          .food-item.animate(data-animate-item)
            .food-thumb
              +img('asia-food', '../assets/images/page-2-product-6.jpg')
            .food-info
              h3.title Portuguese food
              p.desc Lorem Ispum simply dummy text for a printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
      .food-detail.animate(data-animate-item)
        h1.title Recommended Dishes
        .food-detail-thumb
          +img('shushi', '../assets/images/page-2-product-7.jpg')
          +button({url:'#',text: 'Italy food'}).button-opacity.category
        .food-detail-desc
          .food-title 
            h2 Panzerotti, Basilicata
          .food-text
            p.text-top Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            p.text-bot Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            .food-link
              +link('view more', '#', 'View more') View more
