extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  div(style="margin-top: 100px")
    include _components/_blocks/booking-table
    
