extends _layout/app-layout

block variables
  -var isMenuAvailable = false;

block css-external
  link(rel='stylesheet', href='#{baseCss}/styles.css')

block body-content
  div
    h1 StyleGuide
    h2 Banner
    include _components/_styleguide/banner
    h2 Button
    include _components/_styleguide/button
    h2 Form
    include _components/_styleguide/form
    h2 Title
    include _components/_styleguide/block-title
    h2 Section
    include _components/_styleguide/section
    
    //- h2 Our Story
    //- include _components/our-story
